/* Dark Mode */
body {
  background-color: #0a0a0a;
  color: #e5e5e5;
  font-family: 'Inter', sans-serif;
}

.bg-dark {
  background-color: #0a0a0a !important;
}

.text-light {
  color: #e5e5e5 !important;
}

h2, h3, h1 {
  color: #ffffff;
}

.lead {
  color: #cfcfcf;
  font-size: 1.1rem;
}

.btn-light {
  background-color: #3b82f6;
  color: #ffffff;
  border: none;
  transition: 0.3s;
}

.btn-light:hover {
  background-color: #2563eb;
  color: #ffffff;
}

.btn-outline-light {
  border: 1px solid #e5e5e5;
  color: #e5e5e5;
  background: transparent;
  transition: 0.3s;
}

.btn-outline-light:hover {
  background-color: #3b82f6;
  border-color: #3b82f6;
  color: #ffffff;
}

